# Launch UsbController
udiskie -t &

# Composer
picom --experimental-backends &

# Set Keyboard Layout
setxkbmap latam &

# Set Wallpaper
~/.fehbg &

# Systray Network Manager
nm-applet &

# Systray Bluetooth
blueman-applet &

# Systray Volume Control
volumeicon &

# Systray Volume Control
cbatticon &
