# Composer
#picom --experimental-backends &

# Set Keyboard Layout
setxkbmap es &

# Set Wallpaper
nitrogen --restore &

# Systray Network Manager
#nm-applet &

# Systray Volume Control
#volumeicon &
