Xcursor.theme: default 

XTerm*termName: xterm-256color
XTerm*renderFont: true
XTerm*faceName: xft:Hack Nerd Font
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true
XTerm*internalBorder: 12 

XTerm*loginshell: true

XTerm*vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()

XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

UXTerm*renderFont: true
UXTerm*faceName: Hack Nerd Font
UXTerm*faceSize: 11

! Current theme 
#include ".Xresources.d/onedark-theme"
